/* This helps us with less repetitions and can change colors hella quick
without looking for each change individually */
:root {
    --dark-grey-azure-Primary-bg-color: #29343d; /*dark grey azure*/
    --Header-text-color: white;
    --grey-red-secondary-colour:#9a6e6f;/*grey red*/
    --dark-grey-azure-darker-third-colour: #12171b;/*dark grey azure, darker*/
    --grey-blue-fith-colour: #424361; /*grey blue*/
}

body {
    background: var(--Primary-bg-color);
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    font-family: system-ui;
    
    header, footer {
        background: var(--Primary-bg-color);
        color: var(--Header-text-color);

        a {
            color: inherit;
        }
    }
    
    main{

        background-color: var(--dark-grey-azure-Primary-bg-color);

        #home-page-body{
            background-color: var(--grey-red-secondary-colour);
        }

        #books-list{
            width: fit-content;
            background-color: var();    
            display: inline-flex;

            ul{
                margin: 0;
                padding: 0;
                list-style-type: none;
                
                li{
                    align-items: center;
                }
            }
        }

        #book{
            height: 300px;
            margin: 5px 10px;
            flex: 1;
            display: flex;
            padding: 1rem;
            inline-size: min-content;
            text-align: center;
            border: 1rem solid;
            background-color: aqua;

            a{
                img{
                    height: 200px;
                    width: 150px;
                }
            }
        }


    }

    footer {
        padding-inline: 1rem;
        background-color: var(--grey-red-secondary-colour);
        color: black;
    }

    header {
        display: flow-root;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-block: 0.5rem;
        background-color: var(--dark-grey-azure-Primary-bg-color);
        color: var(--grey-red-secondary-colour);

        h1{
            font-weight: 300;
            margin: 0;
        }

        hr{
            
            color: var(--grey-blue-fith-colour);
            /* border-width: 1rem; */
            height: 1rem;
            background-color: var(--grey-blue-fith-colour);
        }

        nav {
            
            display: flex;
            padding-right: 1.5rem;
            gap: 0.5rem;
            a{
                color: black;
                text-decoration: none;
                background-color: var(--grey-red-secondary-colour);
                padding: 0.25rem 0.5rem;
            }
        }
    }

    footer {
        color: var(--grey-red-secondary-colour);
        background-color: var(--dark-grey-azure-Primary-bg-color);
        text-align: right;
    }

   #signup-page-form {
    background-color: #9a6e6f;
    text-align: center;
    margin: 100px auto 0;   /* centers the form */
    padding: 40px 30px;     /* adds spacing */
    width: 300px;           /* consistent layout */
    border-radius: 8px;     /* optional: smoother look */
}

}
























