/* This helps us with less repetitions and can change colors hella quick
without looking for each change individually */
:root {
    --Primary-bg-color: #29343d;
    --Header-text-color: white;
    --secondary-colour:#9a6e6f;
    --third-colour: #12171b;
    --fourth-colour: #29343d;
    --fith-colour: #424361;
}

body {
    background: var(--Primary-bg-color);
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    font-family: system-ui;
    
    header, footer {
        background: var(--Primary-bg-color);
        color: var(--Header-text-color);

        a {
            color: inherit;
        }
    }
    main{
       
    }
    footer {
        padding-inline: 1rem;
        background-color: var(--secondary-colour);
        color: black;
    }

    header {
        display: flow-root;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-block: 0.5rem;
        background-color: var(--secondary-colour);
        color: black;

        h1{
            font-weight: 300;
            margin: 0;
        }

        #recently-added-books{
            background-color: var(--third-colour);   
        }
        
        

        nav {
            display: flex;
            padding-right: 1.5rem;
            gap: 0.5rem;
            a{
                text-decoration: none;
                background-color: hsla(0, 0%, 100%, 0.1);
                padding: 0.25rem 0.5rem;
            }
        }
    }

    footer {
        text-align: right;
    }

    #signup-page-form{
        text-align: center;
    }
    

}