/* This helps us with less repetitions and can change colors hella quick
without looking for each change individually */
:root {
    --Primary-bg-color: #29343d;
    --Header-text-color: white;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    font-family: system-ui;
    
    header, footer {
        background: var(--Primary-bg-color);
        color: var(--Header-text-color);

        a {
            color: inherit;
        }
    }
    
    main{

        #recently-added-books-list{
            width: fit-content;
            background-color: red;    
        }

        #recently-added-books-list ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        
        #recently-added-books-list li{
            display: inline-block;
        }

    }

    footer {
        padding-inline: 1rem;
    }

    header {
        display: flow-root;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-block: 0.5rem;

        h1{
            font-weight: 300;
            margin: 0;
        }

        hr{
            
            color: red;
            /* border-width: 1rem; */
            height: 1rem;
            background-color: red;
        }

        nav {
            
            display: flex;
            padding-right: 1.5rem;
            gap: 0.5rem;
            a{
                text-decoration: none;
                background-color: hsla(0, 0%, 100%, 0.1);
                padding: 0.25rem 0.5rem;
            }
        }
    }

    footer {
        text-align: right;
    }
}